{% extends 'base.html' %}

{% block title %}
about
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">About Us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Mauris vitae ultricies leo integer malesuada nunc vel risus commodo. Nec ullamcorper
        sit amet risus nullam eget. Tempus iaculis urna id volutpat. Faucibus ornare suspendisse sed nisi lacus sed
        viverra. Aenean vel elit scelerisque mauris. Aenean euismod elementum nisi quis eleifend quam adipiscing vitae
        proin.
        Etiam sit amet nisl purus. Adipiscing elit duis tristique sollicitudin nibh sit. Varius morbi enim nunc faucibus
        a.
        Sit amet consectetur adipiscing elit duis.</p>

    <p>Nunc mattis enim ut tellus. Donec pretium vulputate sapien nec sagittis aliquam. Vel eros donec ac odio.
        Risus sed vulputate odio ut enim blandit volutpat maecenas volutpat. Sed id semper risus in hendrerit gravida
        rutrum.
        Cursus vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Porttitor massa id neque aliquam
        vestibulum
        morbi blandit. Purus gravida quis blandit turpis cursus. Neque vitae tempus quam pellentesque nec nam aliquam
        sem et.
        Viverra vitae congue eu consequat ac felis donec et odio. Vitae semper quis lectus nulla at volutpat diam.
        In fermentum posuere urna nec tincidunt praesent semper feugiat nibh. Volutpat ac tincidunt vitae semper quis
        lectus
        nulla. Metus vulputate eu scelerisque felis imperdiet.</p>

    <p> Risus commodo viverra maecenas accumsan lacus vel facilisis volutpat. Diam donec adipiscing tristique risus nec
        feugiat in
        fermentum posuere. Imperdiet proin fermentum leo vel orci. Bibendum at varius vel pharetra vel. Quis commodo
        odio
        aenean sed adipiscing diam. Amet mattis vulputate enim nulla aliquet porttitor lacus luctus. Massa tincidunt dui
        ut
        ornare. Ut tellus elementum sagittis vitae et leo duis ut diam. Auctor neque vitae tempus quam pellentesque nec
        nam.
        Sit amet justo donec enim diam vulputate. Purus faucibus ornare suspendisse sed nisi lacus. Enim sed
        faucibus turpis in eu mi bibendum neque. Non blandit massa enim nec dui nunc mattis enim.
        Sit amet venenatis urna cursus eget nunc scelerisque. Magna fringilla urna porttitor rhoncus.</p>
</div>
{% endblock %}