{% extends 'base.html' %}

{% block title %}
Library
{% endblock %}

{% block content %}
<div class="homeContainer">
    <h1>My Library</h1>
    {% if books %}
    <div class="container">
        <div class="table-responsive">

            <table class="table table-light table-striped table-bordered mt-4">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Rating</th>
                    <th scope="col"> </th>
                </tr>
                </thead>
                <tbody>
                {% for book in books %}
                <tr>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.rating}}/10</td>
                    <td class="d-flex gap-2">
                        <a class="btn btn-info" href="{{url_for('edit', book_id=book.id)}}" role="button">Edit</a>
                        <a class="btn btn-danger" href="{{url_for('delete', book_id=book.id)}}" role="button">Delete</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    {% else %}
    <p>There is no books to display</p>
    {% endif %}
    <a class="btn btn-primary mt-4" href="{{url_for('add')}}">Add new book</a>
    {% endblock %}
</div>